<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="../resource/bootstrap.min.css">
		<link rel="stylesheet" href="../resource/custom.css">
		<script src="../resource/jquery.min.js"></script>
		<script src="../resource/bootstrap.min.js"></script>
		<script src="../resource/custom.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>倉儲暨物流系統</h1>
			<button onclick="document.getElementById('change_password').style.display = null;">更換密碼</button>
			<button onclick="logout()">登出</button>
			<div id="change_password" style="display: none;">
				<table>
					<tr><td>密碼：</td><td><input type="password" id="ori_password"></td></tr>
					<tr><td>新密碼：</td><td><input type="password" id="new_password1"></td></tr>
					<tr><td>再次輸入新密碼：</td><td><input type="password" id="new_password2"></td></tr>
				</table>
				<button onclick="change_password()">確定</button>
				<button onclick="change_password_clear()">清除</button>
				<button onclick="document.getElementById('change_password').style.display = 'none';">取消</button>
			</div>
			<div id="request_notice" onload="request_notice()" style="display: none;">
				<h3>物流通知</h3>
				<p id="request_notice_content"></p>
			</div>
			<div id="member_notice" onload="member_notice()" style="display: none;">
				<h3>授權通知</h3>
				<p id="member_notice_content"></p>
			</div>

			<ul class="nav nav-tabs nav-justified">
				<li><a data-toggle="tab" href="#menu1">原料試算及訂購單</a></li>
				<li><a data-toggle="tab" href="#menu2">庫存一覽</a></li>
				<li><a data-toggle="tab" href="#menu3">物流一覽</a></li>
				<li><a data-toggle="tab" href="#menu4">建立物流</a></li>
				<li><a data-toggle="tab" href="#menu5">使用者一覽</a></li>
			</ul>
			<div class="tab-content">
				<div id="menu1" class="tab-pane fade">
					<div id="enter">
						<h3>製皂內容</h3>
						<table>
							<tr>
								<th>編號</th>
								<th>種類</th>
								<th>數量</th>
							</tr>
							<tr id="row1">
								<td id="content1">1</td>
								<td>
									<select id="product1">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount1" value="1" min="0"></td>
							</tr>
							<tr id="row2">
								<td id="content2"><button onclick="createItem(2)">新增</button></td>
								<td>
									<select id="product2" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount2" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row3" style="display: none;">
								<td id="content3" style="display: none;"><button onclick="createItem(3)">新增</button></td>
								<td>
									<select id="product3" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount3" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row4" style="display: none;">
								<td id="content4" style="display: none;"><button onclick="createItem(4)">新增</button></td>
								<td>
									<select id="product4" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount4" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row5" style="display: none;">
								<td id="content5" style="display: none;"><button onclick="createItem(5)">新增</button></td>
								<td>
									<select id="product5" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount5" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row6" style="display: none;">
								<td id="content6" style="display: none;"><button onclick="createItem(6)">新增</button></td>
								<td>
									<select id="product6" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount6" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row7" style="display: none;">
								<td id="content7" style="display: none;"><button onclick="createItem(7)">新增</button></td>
								<td>
									<select id="product7" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount7" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row8" style="display: none;">
								<td id="content8" style="display: none;"><button onclick="createItem(8)">新增</button></td>
								<td>
									<select id="product8" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount8" value="1" min="0" style="display: none;"></td>
							</tr>
							<tr id="row9" style="display: none;">
								<td id="content9" style="display: none;"><button onclick="createItem(9)">新增</button></td>
								<td>
									<select id="product9" style="display: none;">
										<option value="">請選擇</option>
										<optgroup label="單皂">
											<option value="sp_1">米皂</option>
											<option value="sp_2">金針皂</option>
											<option value="sp_3">釋迦皂</option>
										</optgroup>
										<optgroup label="皂絲">
											<option value="ss_1">洛神皂絲</option>
											<option value="ss_2">紅麴皂絲</option>
											<option value="ss_3">薑黃皂絲</option>
											<option value="ss_4">金針皂絲</option>
											<option value="ss_5">紅棕梠皂絲</option>
											<option value="ss_6">蕁麻葉皂絲</option>
										</optgroup>
									</select>
								</td>
								<td><input type="number" id="amount9" value="1" min="0" style="display: none;"></td>
							</tr>
							<td><button onclick="calculate_search()">確定</button></td>
						</table>
					</div>
					<div id="query" style="display: none;">
						<h3>材料一覽</h3>
						<p id="queryResult"></p>
					</div>
					<div id="order" style="display: none;">
						<h3>訂購單</h3>
						<table></table>
						<button onclick="order()">確定送出</button>
					</div>
				</div>
				<div id="menu2" class="tab-pane fade">
					<h3 onload="whouse_view()">庫存一覽</h3>
					<p id="whouse_view_content"></p>
					<h3>進階查詢</h3>
					<table>
						<tr>
							<th>倉庫</th><th>分類</th><th>原料</th>
						</tr>
						<tr>
							<td>
								<select id="whouse" onchange="whouse()">
									<option value="">請選擇</option>
									<option value="all">全部</option>
									<option value="Beitou">北投</option>
									<option value="Houshanpi">後山埤</option>
									<option value="Taitung">台東</option>
								</select>
							</td>
							<td>
								<select id="itemclass" onchange="itemclass()">
								</select>
							</td>
							<td>
								<select id="itemno">
								</select>
							</td>
						</tr>
					</table>
					<button onclick="whouse_search()">查詢</button>
					<p id="whouse_search_content"></p>
				</div>
				<div id="menu3" class="tab-pane fade">
					<h3 onload="request_view()">物流一覽</h3>
					<p id="requset_view_content"></p>
					<h3>進階查詢</h3>
					<table>
						<tr>
							<td>物流編號</td>
							<td><input type="text" id="request_index"></td>
							<td><button onclick="search_index()">查詢</button></td>
						</tr>
						<tr>
							<td>物流狀態</td>
							<td>
								<select id="state">
									<option value="">請選擇</option>
									<option value="A">已傳送</option>
									<option value="B">待確認</option>
									<option value="C">已確認</option>
									<option value="D">已拒絕</option>
									<option value="E">已完成</option>
								</select>
							</td>
							<td><button onclick="search_state()">查詢</button></td>
						</tr>
					</table>
					<p id="request_search_content"></p>
				</div>
				<div id="menu4" class="tab-pane fade">
					<h3>建立物流</h3>
					<table>
						<tr>
							<th>運送地</th>
							<th>接收地</th>
						</tr>
						<tr>
							<td>
								<select id="sender" onchange="sender()">
									<option value="">請選擇</option>
									<option value="Trisoap">進貨</option>
									<option value="Beitou">北投</option>
									<option value="Houshanpi">後山埤</option>
									<option value="Taitung">台東</option>
								</select>
							</td>
							<td>
								<select id="receiver" onchange="receiver()">
								</select>
							</td>
						</tr>
					</table>
					<div id="content" style="display: none;">
						<table>
							<tr>
								<th class="material_A" style="display: none;">油品</th>
								<th class="material_B" style="display: none;">添加物</th>
								<th class="material_C" style="display: none;">包裝</th>
								<th class="material_D" style="display: none;">商品</th>
								<th class="material_E" style="display: none;">產品</th>
								<th class="material_H" style="display: none;">後山埤的產品</th>
							</tr>
							<tr>
								<td class="material_A" style="display: none;">
									<table>
										<tr><td>橄欖油</td><td><input type="number" id="oil_1" value="0" min="0"></td></tr>
										<tr><td>棕梠油</td><td><input type="number" id="oil_2" value="0" min="0"></td></tr>
										<tr><td>椰子油</td><td><input type="number" id="oil_3" value="0" min="0"></td></tr>
										<tr><td>米糠油</td><td><input type="number" id="oil_4" value="0" min="0"></td></tr>
										<tr><td>紅棕梠油</td><td><input type="number" id="oil_5" value="0" min="0"></td></tr>
										<tr><td>葡萄籽油</td><td><input type="number" id="oil_6" value="0" min="0"></td></tr>
										<tr><td>苦茶油</td><td><input type="number" id="oil_7" value="0" min="0"></td></tr>
										<tr><td>蓖麻油</td><td><input type="number" id="oil_8" value="0" min="0"></td></tr>
										<tr><td>鹼</td><td><input type="number" id="NaOH" value="0" min="0"></td></tr>
									</table>
								</td>
								<td class="material_B" style="display: none;">
									<table>
										<tr><td>金針花瓣</td><td><input type="number" id="additive_1" value="0" min="0"></td></tr>
										<tr><td>釋迦果粉</td><td><input type="number" id="additive_2" value="0" min="0"></td></tr>
										<tr><td>釋迦果泥</td><td><input type="number" id="additive_3" value="0" min="0"></td></tr>
										<tr><td>米粉</td><td><input type="number" id="additive_4" value="0" min="0"></td></tr>
										<tr><td>蕁麻葉粉</td><td><input type="number" id="additive_5" value="0" min="0"></td></tr>
										<tr><td>金盞花粉</td><td><input type="number" id="additive_6" value="0" min="0"></td></tr>
										<tr><td>金針花粉</td><td><input type="number" id="additive_7" value="0" min="0"></td></tr>
										<tr><td>薑黃粉</td><td><input type="number" id="additive_8" value="0" min="0"></td></tr>
										<tr><td>紅麴粉</td><td><input type="number" id="additive_9" value="0" min="0"></td></tr>
										<tr><td>洛神花粉</td><td><input type="number" id="additive_10" value="0" min="0"></td></tr>
										<tr><td>乳油木果脂</td><td><input type="number" id="additive_11" value="0" min="0"></td></tr>
									</table>
								</td>
								<td class="material_C" style="display: none;">
									<table>
										<tr><td>不織布包</td><td><input type="number" id="package_1" value="0" min="0"></td></tr>
										<tr><td>鋁包</td><td><input type="number" id="package_2" value="0" min="0"></td></tr>
										<tr><td>大禮盒</td><td><input type="number" id="package_3" value="0" min="0"></td></tr>
										<tr><td>小禮盒</td><td><input type="number" id="package_4" value="0" min="0"></td></tr>
										<tr><td>內襯</td><td><input type="number" id="package_5" value="0" min="0"></td></tr>
										<tr><td>單顆皂外盒</td><td><input type="number" id="package_6" value="0" min="0"></td></tr>
									</table>
								</td>
								<td class="material_D" style="display: none;">
									<table>
										<tr><td>田靜山巒禾風皂</td><td><input type="number" id="product_sp_1" value="0" min="0"></td></tr>
										<tr><td>金絲森林渲染皂</td><td><input type="number" id="product_sp_2" value="0" min="0"></td></tr>
										<tr><td>釋迦手感果力皂</td><td><input type="number" id="product_sp_3" value="0" min="0"></td></tr>
										<tr><td>洛神紅麴旅用皂絲</td><td><input type="number" id="product_ss_1" value="0" min="0"></td></tr>
										<tr><td>暖暖薑黃旅用皂絲</td><td><input type="number" id="product_ss_2" value="0" min="0"></td></tr>
										<tr><td>萱草米黃旅用皂絲</td><td><input type="number" id="product_ss_3" value="0" min="0"></td></tr>
									</table>
								</td>
								<td class="material_E" style="display: none;">
									<table>
										<tr><td>米皂</td><td><input type="number" id="sp_1" value="0" min="0"></td></tr>
										<tr><td>金針皂</td><td><input type="number" id="sp_2" value="0" min="0"></td></tr>
										<tr><td>釋迦皂</td><td><input type="number" id="sp_3" value="0" min="0"></td></tr>
										<tr><td>洛神皂絲</td><td><input type="number" id="ss_1" value="0" min="0"></td></tr>
										<tr><td>紅麴皂絲</td><td><input type="number" id="ss_2" value="0" min="0"></td></tr>
										<tr><td>薑黃皂絲</td><td><input type="number" id="ss_3" value="0" min="0"></td></tr>
										<tr><td>金針皂絲</td><td><input type="number" id="ss_4" value="0" min="0"></td></tr>
										<tr><td>紅棕梠皂絲</td><td><input type="number" id="ss_5" value="0" min="0"></td></tr>
										<tr><td>蕁麻葉皂絲</td><td><input type="number" id="ss_6" value="0" min="0"></td></tr>
									</table>
								</td>
								<td class="material_H" style="display: none;">
									<table>
										<tr><td>後山埤的米皂</td><td><input type="number" id="sp_1_houshanpi" value="0" min="0"></td></tr>
										<tr><td>後山埤的金針皂</td><td><input type="number" id="sp_2_houshanpi" value="0" min="0"></td></tr>
										<tr><td>後山埤的釋迦皂</td><td><input type="number" id="sp_3_houshanpi" value="0" min="0"></td></tr>
									</table>
								</td>
							</tr>
						</table>
						<button onclick="send()">確定</button>
					</div>
				</div>
				<div id="menu5" class="tab-pane fade">
					<h3 onload="member_view()">使用者一覽</h3>
					<p id="member_view_content"></p>
					<h3>進階查詢</h3>
					<table>
						<tr>
							<td>使用者編號</td>
							<td><input type="text" id="member_index"></td>
							<td><button onclick="search_account()">查詢</button></td>
						</tr>
						<tr>
							<td>使用者權限</td>
							<td>
								<select id="auth">
									<option value="">請選擇</option>
									<option value="A">總部</option>
									<option value="B">北投</option>
									<option value="C">後山埤</option>
									<option value="D">台東</option>
									<option value="E">實習</option>
								</select>
							</td>
							<td><button onclick="search_auth()">查詢</button></td>
						</tr>
					</table>
					<p id="member_search_content"></p>
				</div>
			</div>
		</div>
	</body>
</html>