<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>倉儲暨物流系統</title>
		<link rel="stylesheet" href="../resource/bootstrap.min.css">
		<link rel="stylesheet" href="../resource/custom.css">
		<script src="../resource/jquery.min.js"></script>
		<script src="../resource/bootstrap.min.js"></script>
		<script src="../resource/custom.js"></script>
	</head>
	<body onload="request_notice(); mature_notice();">
		<div class="container">
			<h1>倉儲暨物流系統</h1>
			<button onclick="document.getElementById('change_password').style.display = null;">更換密碼</button>
			<button onclick="logout()">登出</button>
			<div id="change_password" style="display: none;">
				<table>
					<tr><td>密碼：</td><td><input type="password" id="ori_password"></td></tr>
					<tr><td>新密碼：</td><td><input type="password" id="new_password1"></td></tr>
					<tr><td>再次輸入新密碼：</td><td><input type="password" id="new_password2"></td></tr>
				</table>
				<button onclick="change_password()">確定</button>
				<button onclick="change_password_clear()">清除</button>
				<button onclick="document.getElementById('change_password').style.display = 'none';">取消</button>
			</div>
			<div id="request_notice" style="display: none;">
				<h3>物流通知</h3>
				<p id="request_notice_content" style="width: 45%; display: inline-block; max-height: 200px; overflow: scroll;"></p>
				<p id="request_notice_detail" style="width: 45%; display: inline-block; max-height: 200px; overflow: scroll;"></p>
			</div>
			<div id="mature_notice" style="display: none;">
				<h3>熟成通知</h3>
				<p id="mature_notice_content" style="width: 45%; display: inline-block; max-height: 200px; overflow: scroll;"></p>
			</div>

			<ul class="nav nav-tabs nav-justified">
				<li><a data-toggle="tab" href="#menu1">原料試算</a></li>
				<li><a data-toggle="tab" href="#menu2" onclick="whouse_view()">庫存一覽</a></li>
				<li><a data-toggle="tab" href="#menu3" onclick="request_view()">物流一覽</a></li>
				<li><a data-toggle="tab" href="#menu4">建立物流</a></li>
				<li><a data-toggle="tab" href="#menu5" onclick="member_view()">使用者一覽</a></li>
			</ul>
			<div class="tab-content">
				<div id="menu1" class="tab-pane fade">
					<div id="enter">
						<h3>製皂內容</h3>
						<table>
							<tr><th>產品</th><th>單位</th><th></th><th>數量</th></tr>
							<tr><td>米皂</td><td><input type="number" id="calculate_sp_1" value="0" min="0" onchange="document.getElementById('result_calculate_sp_1').innerHTML = this.value*10 + '顆'"></td><td>x 10 =</td><td id="result_calculate_sp_1">0</td></tr>
							<tr><td>金針皂</td><td><input type="number" id="calculate_sp_2" value="0" min="0" onchange="document.getElementById('result_calculate_sp_2').innerHTML = this.value*10 + '顆'"></td><td>x 10 =</td><td id="result_calculate_sp_2">0</td></tr>
							<tr><td>釋迦皂</td><td><input type="number" id="calculate_sp_3" value="0" min="0" onchange="document.getElementById('result_calculate_sp_3').innerHTML = this.value*10 + '顆'"></td><td>x 10 =</td><td id="result_calculate_sp_3">0</td></tr>
						</table>
						<button onclick="calculate_search()">查詢</button>
						<button onclick="calculate_refresh()">清除</button>
					</div>
					<div id="query" style="display: none;">
						<h3>材料一覽</h3>
						<p id="queryResult"></p>
					</div>
					<button id="produce" onclick="produce()" style="display: none;">確定製作</button>
				</div>
				<div id="menu2" class="tab-pane fade">
					<h3>庫存一覽</h3>
					<p id="whouse_view_content"></p>
					<h3>進階查詢</h3>
					<table>
						<tr>
							<th>倉庫</th><th>分類</th><th>原料</th>
						</tr>
						<tr>
							<td>
								<select id="whouse">
									<option value="Houshanpi">後山埤</option>
								</select>
							</td>
							<td>
								<select id="itemclass">
									<option value="F">半成品</option>
									<option value="H">產品</option>
								</select>
							</td>
							<td>
								<select id="itemno">
									<option value="all">全部</option>
									<option value="sp_1_houshanpi">米皂</option>
									<option value="sp_2_houshanpi">金針皂</option>
									<option value="sp_3_houshanpi">釋迦皂</option>
								</select>
							</td>
						</tr>
					</table>
					<button onclick="whouse_search()">查詢</button>
					<p id="whouse_search_content"></p>
				</div>
				<div id="menu3" class="tab-pane fade">
					<h3>物流一覽</h3>
					<p id="request_view_content" style="width: 45%; display: inline-block; max-height: 300px; overflow: scroll;"></p>
					<p id="request_view_detail" style="width: 45%; display: inline-block; max-height: 300px; overflow: scroll;"></p>
					<h3>進階查詢</h3>
					<table>
						<tr>
							<td>物流編號</td>
							<td><input type="text" id="index"></td>
							<td><button onclick="search_index()">查詢</button></td>
						</tr>
						<tr>
							<td>物流狀態</td>
							<td>
								<select id="state">
									<option value="">請選擇</option>
									<option value="A">已傳送</option>
									<option value="B">待確認</option>
									<option value="C">已確認</option>
									<option value="D">已拒絕</option>
									<option value="E">已完成</option>
								</select>
							</td>
							<td><button onclick="search_state()">查詢</button></td>
						</tr>
					</table>
					<p id="request_search_content" style="width: 45%; display: inline-block; max-height: 300px; overflow: scroll;"></p>
					<p id="request_search_detail" style="width: 45%; display: inline-block; max-height: 300px; overflow: scroll;"></p>
				</div>
				<div id="menu4" class="tab-pane fade">
					<h3>建立物流</h3>
					<table>
						<tr>
							<th>運送地</th>
							<th>接收地</th>
						</tr>
						<tr>
							<td>
								<select id="sender">
									<option value="Houshanpi">後山埤</option>
								</select>
							</td>
							<td>
								<select id="receiver" onchange="receiver()">
									<option value="">請選擇</option>
									<option value="Beitou">北投</option>
									<option value="Taitung">台東</option>
								</select>
							</td>
						</tr>
					</table>
					<div id="content" style="display: none;">
						<table>
							<tr>
								<th class="material_A" style="display: none;">油品</th>
								<th class="material_H" style="display: none;">後山埤的產品</th>
							</tr>
							<tr>
								<td class="material_A" style="display: none;">
									<table>
										<tr><td>橄欖油</td><td><input type="number" id="send_oil_1" value="0" min="0">c.c.</td></tr>
										<tr><td>棕梠油</td><td><input type="number" id="send_oil_2" value="0" min="0">c.c.</td></tr>
										<tr><td>椰子油</td><td><input type="number" id="send_oil_3" value="0" min="0">c.c.</td></tr>
										<tr><td>米糠油</td><td><input type="number" id="send_oil_4" value="0" min="0">c.c.</td></tr>
										<tr><td>紅棕梠油</td><td><input type="number" id="send_oil_5" value="0" min="0">c.c.</td></tr>
										<tr><td>葡萄籽油</td><td><input type="number" id="send_oil_6" value="0" min="0">c.c.</td></tr>
										<tr><td>苦茶油</td><td><input type="number" id="send_oil_7" value="0" min="0">c.c.</td></tr>
										<tr><td>蓖麻油</td><td><input type="number" id="send_oil_8" value="0" min="0">c.c.</td></tr>
										<tr><td>鹼</td><td><input type="number" id="send_NaOH" value="0" min="0">g</td></tr>
									</table>
								</td>
								<td class="material_H" style="display: none;">
									<table>
										<tr><td>米皂</td><td><input type="number" id="send_sp_1_houshanpi" value="0" min="0">顆</td></tr>
										<tr><td>金針皂</td><td><input type="number" id="send_sp_2_houshanpi" value="0" min="0">顆</td></tr>
										<tr><td>釋迦皂</td><td><input type="number" id="send_sp_3_houshanpi" value="0" min="0">顆</td></tr>
									</table>
								</td>
							</tr>
							<tr><td>備註：<textarea type="text" id="memo"></textarea></td></tr>
						</table>
						<button onclick="send()">確定</button>
						<button onclick="send_refresh()">清除</button>
					</div>
				</div>
				<div id="menu5" class="tab-pane fade">
					<h3>使用者一覽</h3>
					<p id="member_view_content" style="max-height: 300px; overflow: scroll;"></p>
					<h3>進階查詢</h3>
					<table>
						<tr>
							<td>使用者編號</td>
							<td><input type="text" id="account"></td>
							<td><button onclick="search_account()">查詢</button></td>
						</tr>
						<tr>
							<td>使用者權限</td>
							<td>
								<select id="auth">
									<option value="C">後山埤</option>
								</select>
							</td>
							<td><button onclick="search_auth()">查詢</button></td>
						</tr>
					</table>
					<p id="member_search_content" style="max-height: 300px; overflow: scroll;"></p>
				</div>
			</div>
		</div>
	</body>
</html>